.calculator-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.operation-costs-list {
  padding: 10px;
}

.calculator-container ul {
  list-style: none;
  padding: 0;
}

.calculator-container li {
  margin: 10px 0;
}

.calculator-container p {
  margin: 0;
  font: 0.8em sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 10px;
}

.buttons {
  display: flex;
  width: 350px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons button {
  margin: 5px;
}